.wrapper {
    margin-bottom: 32px;
}
  
.title {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #121212;
    padding-bottom: 6px;
    border-bottom: 2px solid #d9d9d9;
}