.wrapper {
    position: relative;
    display: table;
    margin: 0 auto 0.5rem;
}
  
.title {
    border-bottom-color: #000000;
    color: #000000;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    font-size: 3rem
}