.titleFrame{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 4%;
    background-image: url('../../Image/컴퓨터 배경.jpg');
    background-size: cover;        /* 영역을 꽉 채우도록 */
    background-position: center;   /* 가운데 정렬 */
    background-repeat: no-repeat;  /* 반복 없음 */
    width: 100%;
    min-height: 500px;             /* 필요에 따라 높이 조절 */
    color: #FFF;
}

.title{
    font-size: 36px;
}