.headerWrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #888;
  transition: opacity .3s linear;
  opacity: 1 !important;
}

.headerInner {
  width: 100%;
  max-width: 71.25rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  height: 4.5rem;
  padding: 1.25rem 1.5rem;
}

.headerTitle {
  font-weight: 700;
  font-size: 1.5rem;
  color: hsla(0, 0%, 100%, .7);
  line-height: 2rem;
}

button:not(:disabled) {
  cursor: pointer;
}

button {
  padding: 0;
  background-color: unset;
  border: none;
  text-transform: none;
  margin: 0;
  font-size: inherit;
}

.nav {
  display: flex;
}

.navItem {
  padding: 0 1rem;
  font-weight: 700;
  color: hsla(0, 0%, 100%, .7);
  line-height: 2rem;
}


@media (max-width: 768px) {
  .headerInner {
    padding: 12px 16px;
  }

  .nav {
    gap: 14px;
    font-size: 11px;
  }

  .headerTitle {
    font-size: 16px;
  }
} 