.skillsWrapper {
  background: #ffc8a2;
}

.skillsContainer{
  width: 100%;
  max-width: 71.25rem;
  padding: 0.2rem 1.5rem 4rem;
  margin: 0 auto;
}

.skillsCard {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  padding: 2rem;
  background-color: hsla(0, 0%, 100%, .8);
  box-shadow: 1rem 1rem 1rem 0 rgba(68, 68, 68, .2);
  border-radius: 1rem;
}

.skillRow {
  display: flex;
  align-items: flex-start;
  column-gap: 2rem;
}

.skillRow + .skillRow {
  border-top: 1px solid #f0f0f0;
}

.skillName {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  flex-shrink: 0;
  width: 10rem;
  font-weight: 900;
}

.skillIcon {
  width: 32px;
  height: 32px;
}

/* 태그 영역 */
.skillTags {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: .5rem;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.tag {
  padding: .25rem .75rem;
  border-radius: .5rem;
  font-weight: 500;
  font-size: .875rem;
}

li {
  display: list-item;
  unicode-bidi: isolate;
  background-color: #2f74c0;
  color: #ffffff;
}

img {
  vertical-align: middle;
}

/* 모바일 */
@media (max-width: 768px) {
  .skillsCard {
    padding: 1.75rem 1.25rem;
  }

  .skillRow {
    flex-direction: column;
    gap: 0.9rem;
  }

  .skillLeft {
    min-width: auto;
  }
}