.skillsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 36px;
  background-color: #4a4a4a;
}

.skillGrid {
  background-color: blueviolet;
}