.projectsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 36px;
  background-color: #706060;
}

.projectsTitle {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 40px;
  text-align: center;
}
